.DS_Store
.buildpath
.project
.settings/

INSTALL.txt
LICENSE.txt
README.txt
demos/
extras/documentation

docs/Omeka/CrowdEd_View_Helper_ItemForm.html
docs/Omeka_ThemeHelpers/Omeka_View_Helper/_helpers---CrowdedItemForm.php.html
docs/blank.html
docs/classtrees_Omeka.html
docs/classtrees_Omeka_ThemeHelpers.html
docs/classtrees_default.html
docs/default/CrowdEdControllerPlugin.html
docs/default/CrowdEdPlugin.html
docs/default/CrowdEd_ParticipateController.html
docs/default/_CrowdEdControllerPlugin.php.html
docs/default/_CrowdEdPlugin.php.html
docs/default/_config_form.php.html
docs/default/_controllers---ParticipateController.php.html
docs/default/_functions.php.html
docs/default/_helpers---CrowdedFormFunctions.php.html
docs/default/_plugin.php.html
docs/default/_views---public---participate---edit.php.html
docs/default/_views---public---participate---index.php.html
docs/default/_views---public---participate---join.php.html
docs/default/_views---public---participate---login.php.html
docs/default/_views---public---participate---profile.php.html
docs/default/_views---shared---common---item-description.php.html
docs/default/_views---shared---common---item-review-priority.php.html
docs/default/_views---shared---common---item-type-features.php.html
docs/default/_views---shared---common---tags-form.php.html
docs/elementindex.html
docs/elementindex_Omeka.html
docs/elementindex_Omeka_ThemeHelpers.html
docs/elementindex_default.html
docs/errors.html
docs/index.html
docs/li_Omeka.html
docs/li_Omeka_ThemeHelpers.html
docs/li_default.html
docs/media/banner.css
docs/media/stylesheet.css
docs/packages.html
