/* 
    Document   : crowded
    Created on : Dec 29, 2011, 1:35:21 PM
    Author     : Garrick S. Bodine <garrick.bodine@gmail.com>
    Description:

*/

fieldset { overflow: hidden; }

.crowded-form-controls label, .crowded-form-controls input[type="radio"], .inlineRadio  {
    float: left;
    clear: none;
}

label.crowded-form-controls {
    display: inline;
    margin: 2px 0 0 1em;
}

#crowded_login_bar {
    color:#fff;
    background-color: #333;
    text-align: right;
    padding: .5em 1em;
}
#crowded_login_bar a {
    color: #fff;
}

.dateinput > .textinput {
    display: inline;
}


.island {
    position: relative;
    text-align: center;
}
.island:hover .island-text { 
    display: block; 
    background-color: #cccab7;
}
.island:hover .island {
    opacity: 30%;
}
.island img {
    height: 300px;
    width: 300px;
    overflow: hidden;
}

.island-text {
    display: none; 
    position: absolute; 
    top: 2em;
    font-size: large;
    font-weight: bold;
    padding: 1.5em;
    line-height: 150%;
    font-family: "Georgia","Times New Roman",Helvetica,Arial,sans-serif;
    color: #000;
}
.island-text a {
    text-decoration: none;
}



/*
#browse-island {
    height: 300px;
    background: url('/plugins/CrowdEd/views/public/images/BrowseImage.jpg') no-repeat;
}
#browse-island-text {
    display: none;
}
#search-island {
    height: 300px;
    background: url('/plugins/CrowdEd/views/public/images/MBRoanie.jpg') no-repeat;
    overflow: hidden;
}

#contribute-island {
    height: 300px;
    background: url('/plugins/CrowdEd/views/public/images/1950GrandMarch.jpg');
}

*/