/* 
    Document   : crowded
    Created on : Dec 29, 2011, 1:35:21 PM
    Author     : Garrick S. Bodine <garrick.bodine@gmail.com>
    Description:

*/

.dateinput > .textinput {
    display: inline;
}

.failure {
    padding: 1em;
    margin: 1em 0;
    font-weight: bold;
    text-align: center;
}

.explanation { 
    display:none;
    position:absolute; 
    margin-left:20px; 
    z-index:100; 
    width:200px; 
    padding:0.5em; 
    background:#fff; 
    border:1px solid #000;
}

.help_icon {
    display:inline; 
    margin-left:2px; 
    cursor:help;
}

.help_icon img {
    display:inline;
}

/* Bootstrap Adjustments and/or Overrides */
.input-prepend, .input-append {
    white-space: nowrap;
    -webkit-padding-end: 27px;
}
