/* 
    Document   : crowded
    Created on : Dec 29, 2011, 1:35:21 PM
    Author     : Garrick S. Bodine <garrick.bodine@gmail.com>
    Description:

*/


.dateinput > .textinput {
    display: inline;
}

.failure {
    padding: 1em;
    margin: 1em 0;
    font-weight: bold;
    text-align: center;
}

.remove-element {
    /* display: inline; */
}

#crowded-item-form label {
   /*  display: inline-block; */
}

#terms {
    display: inline;
}

body {
    padding-top: 30px;
}

.user-list-item {
    margin: 1em 0;
}

hr.personForm {
    height: 1px;
    background: #ededed;
    border: none;
    margin: 10px 0;
}
.edit-label {
    display: inline;
}
.user-form-input {
    display: block !important;
}
.user-fieldset legend {
    margin: 0;
    padding: 0;
    height:20px;
    border: none;
    font-weight: bold;
    font-size: 100%; 
}
.hint {
    margin: 0 0 1em 0;
    padding: 0;
    font-size: 75%;
}

.user-fieldset {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    margin: 0 0 1em 0;
}

.privacy-checkbox > div {
    display: inline;
}



